# Auto detect text files and perform LF normalization
* text=auto

# Never line-ending-normalise assets
*.png binary
*.jpg binary
*.hdr binary
*.mp3 binary
*.ogg binary

# Large 3D model binaries go through Git LFS
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
